
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            font-size: 16px;
        }
    </style>

    <!-- Page Name and Site Name -->
    <title>Sketch</title>

  </head>

  <body>

    <div class="container">

      <header class="header clearfix" style="background-color: #ffffff">

        <!-- Site Name -->
        <nav class="navbar navbar-dark bg-dark my-5">
            <a class="navbar-brand" href="/">
                <h1 class="h3 text-light">Prindiville Sketches</h1>
          </a>
        </nav>
              
        <h1>Sketch Editor</h1>
        <form enctype="multipart/form-data" method="POST" action="">
            <div class="d-flex flex-column w-25">
                {% csrf_token %}
                <div class="d-flex flex-column w-100 mt-3">
                    {{ sketch_form }}
                </div>
                <br />
                <br />
                <div class="d-flex flex-column w-100 mt-3">
                    {{ new_script_form }}
                </div>
                <div class="d-flex flex-column w-100 mt-3">
                    {% for script_upload in script_uploads %}
                       <a href="/media/{{script_upload.file}}">{{ script_upload.file }}</a>
                       <div class="d-flex align-items-center">
                           <a class="btn btn-danger" onclick="return confirm('Are you sure you ant to delete this?')"  href="{% url 'delete_upload' script_upload.sketch_id script_upload.id %}">Delete Script</a>
                       </div>
                    {% endfor %}
                </div>
                <br />
                <br />
                <div class="d-flex flex-column w-100 mt-3">
                    {{ new_footage_form }}
                </div>
                <div class="d-flex flex-column w-100 mt-3">
                    {% for footage_upload in footage_uploads %}
                       <a href="/media/{{footage_upload.file}}">{{ footage_upload.file }}</a>
                       <div class="d-flex align-items-center">
                           <a class="btn btn-danger" onclick="return confirm('Are you sure you ant to delete this?')"  href="{% url 'delete_upload' footage_upload.sketch_id footage_upload.id %}">Delete Footage</a>
                        </div>
                    {% endfor %}
                </div>
                <br />
                <br />
                <div class="d-flex flex-column w-100 mt-3">
                    {{ new_final_form }}
                </div>
                <div class="d-flex flex-column w-100 mt-3">
                    {% for final_upload in final_uploads %}
                       <a href="/media/{{final_upload.file}}">{{ final_upload.file }}</a>
                       <div class="d-flex align-items-center">
                           <a class="btn btn-danger" onclick="return confirm('Are you sure you ant to delete this?')" href="{% url 'delete_upload' final_upload.sketch_id final_upload.id %}">Delete Final</a>
                       </div>
                    {% endfor %}
                </div>
                <br />
                <br />
                <div class="d-flex flex-column w-100 mt-3">
                    <input type="submit" value="Edit"/>
                </div>
            </div>
        </form>

        <br>
        {% if messages %}

        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}

        <br>
        </p>
    </div>
  </body>

