<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            font-size: 16px;
        }
    </style>

    <!-- Page Name and Site Name -->
    <title>Sketch</title>

  </head>

  <body>

    <div class="container">

      <header class="header clearfix" style="background-color: #ffffff">

        <!-- Site Name -->
        <nav class="navbar navbar-dark bg-dark my-5">
          <a class="navbar-brand" href="#">
            <h1 class="h3 text-light">Prindiville Sketches</h1>
          </a>
        </nav>
      <div class="col-sm-12">
        <a href="sketch/" class="btn btn-primary">Upload</a>
      </div>
      <br>

      </header>
      <div class="row">

        <!--
        <div class="col-sm-3">

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a onclick="document.getElementById('welcome').scrollIntoView();" class="nav-link" href="#welcome">Welcome</a>
            <li class="nav-item">
                <a onclick="document.getElementById('raw-footage').scrollIntoView();" class="nav-link" href="#raw-footage">Raw Footage</a>
              <ul>
                <li  class="nav-item">
                    <a onclick="document.getElementById('shocking-interview').scrollIntoView();" class="nav-link" href="#shocking-interview">Shocking Interview</a></li>
              </ul> </li>
            <li class="nav-item">
                <a onclick="document.getElementById('finished-sketches').scrollIntoView();" class="nav-link" href="#finished-sketches">Finished Sketches</a>
          </ul>

        </div>
        -->

        <div class="col-sm-12">

          <!-- Design Body -->
          <div class="page-contents">

                       <!-- Raw Footage -->
            <div id="raw-footage" class="col-12 px-0 mb-5 pb-1">
                <div class="mb-5">
                    <h2>Raw Footage/Scripts</h2>
                    <hr />
                    <p>Here is where you can download the raw sketch footage to edit them into mind-bending, heart-imploading, game-changing sketches.</p>
                </div>
                <div class="row">

                   {% for sketch in sketches %}
                    <div id="sbot" class="p-3 mb-5 col-12 col-md-6">
                        <div class="card" style="min-height:200px;">
                            <div class="card-body d-flex flex-column justify-content-between">
                              <div>
                                  <h4 class="card-title">{{ sketch.title }}</h4>
                                  <p>{{ sketch.description }}</p>
                              </div>
                              <div class="row">
                                  <div class="col-12 col-lg-12 mb-2 mb-lg-0">
                                      <!--
                                          {% if sketch.footage %}
                                              <a class="col-12 d-flex p-0 mb-2" href="{{ sketch.footage.url }}">
                                                  <button class="btn btn-primary col-12" style="white-space: normal;">
                                                      <div>Download Footage</div>
                                                      <div>({{sketch.footage.size|filesizeformat}})</div>
                                                  </button>
                                                </a>
                                          {% else %}
                                            <a class="col-12 d-flex p-0 w-100 mb-2 align-self-center">
                                              <button disabled class="btn btn-primary col-12" style="white-space: normal;">
                                                  <div>No Footage</div>
                                              </button>
                                            </a>
                                          {% endif %}

                                          <div class="row">
                                              <div class="col-12 col-lg-12 d-flex">
                                                  {% if sketch.script %}
                                                      <a class="col-12 d-flex p-0 mt-2 mb-2" href="{{ sketch.script.url }}">
                                                          <button class="btn btn-primary col-12 d-flex align-items-center justify-content-center">
                                                              View Script
                                                          </button>
                                                      </a>
                                                  {% else %}
                                                    <a class="col-12 d-flex p-0 w-100 mb-2 mt-2 align-self-center">
                                                      <button disabled class="btn btn-primary col-12" style="white-space: normal;">
                                                          <div>No Script</div>
                                                      </button>
                                                    </a>
                                                  {% endif %}
                                              </div>    
                                          </div>    

                                          <div class="row">
                                              <div class="col-12 col-lg-12 w-100 mb-2 mb-lg-0">
                                                  {% if sketch.footage %}
                                                      <a class="col-12 d-flex w-100 p-0 mb-2 mt-2" href="{{ sketch.file.url }}">
                                                          <button class="btn btn-primary col-12" style="white-space: normal;">
                                                              <div>Finsished Sketch</div>
                                                              <div>({{sketch.file.size|filesizeformat}})</div>
                                                          </button>
                                                      </a>
                                                  {% else %}
                                                    <a class="col-12 d-flex p-0 w-100 mt-2 mb-2 align-self-center">
                                                      <button disabled class="btn btn-primary col-12" style="white-space: normal;">
                                                          <div>No Finished Sketch</div>
                                                      </button>
                                                    </a>
                                                  {% endif %}
                                              </div>
                                          </div>
                                        -->

                                    <div>
                                        <b>Footage:</b>
                                        {% for footage in sketch.footage_uploads %}
                                            <div>{{footage.file}}</div>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        <b>Scripts:</b>
                                        {% for script in sketch.script_uploads %}
                                            <div>{{script.file}}</div>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        <b>Finals:</b>
                                        {% for final in sketch.final_uploads %}
                                            <div>{{final.file}}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
