{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    <style>
        body {
            font-size: 16px;
        }
    </style>

    <link rel="stylesheet" href="{% static 'styling.css' %}">

    <!-- Page Name and Site Name -->
    <title>Sketch</title>

  </head>

  <body>

    <div class="container">

      <header class="header clearfix" style="background-color: #ffffff">

        <!-- Site Name -->
        <nav class="navbar navbar-dark bg-dark my-5">
          <a class="navbar-brand p-2" href="#">
            <h1 class="h3 text-light">Prindiville Sketches</h1>
          </a>
          <div>
              <ul class="navbar-nav mr-auto p-2">
                    <li class="nav-item">
                        <a href="sketch/" style="color: white; border: 1px solid #FFFFFF;" class="nav-item btn btn-outline-primary">Upload Content</a>
                    </li>
              </ul>
          </div>
        </nav>

      </header>
      <div class="row">

        <!--
        <div class="col-sm-3">

          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a onclick="document.getElementById('welcome').scrollIntoView();" class="nav-link" href="#welcome">Welcome</a>
            <li class="nav-item">
                <a onclick="document.getElementById('raw-footage').scrollIntoView();" class="nav-link" href="#raw-footage">Raw Footage</a>
              <ul>
                <li  class="nav-item">
                    <a onclick="document.getElementById('shocking-interview').scrollIntoView();" class="nav-link" href="#shocking-interview">Shocking Interview</a></li>
              </ul> </li>
            <li class="nav-item">
                <a onclick="document.getElementById('finished-sketches').scrollIntoView();" class="nav-link" href="#finished-sketches">Finished Sketches</a>
          </ul>

        </div>
        -->

        <div class="col-sm-12">

          <!-- Design Body -->
          <div class="page-contents">

                       <!-- Raw Footage -->
            <div id="raw-footage" class="col-12 px-0 mb-5 pb-1">
                <div class="mb-5">
                    <h2>Scripts/Footage/Final Sketches</h2>
                    <hr />
                </div>
                <div class="row">


                   {% for sketch in sketches %}

                    <div id="sbot" class="p-3 mb-5 col-12 col-md-6">
                        <div class="card" style="min-height:200px;">
                            <div class="card border-dark" style="min-height:200px; border: 2px solid #343a40;">
                                <div class="card-body d-flex flex-column justify-content-between">
                                  <div>
                                      <h4 class="card-title">{{ sketch.title }}</h4>
                                      <p>{{ sketch.description }}</p>
                                  </div>
                                  <div class="col-12 col-lg-12 mb-2 mb-lg-0">
                                      <hr />
                                      <div class="col-12  mb-3"><h6>Downloads:</h6></div>
                                      <div class="col-12 d-flex mb-5">
                                          <div class="me-3">
                                            {% if sketch.script_uploads %}
                                              <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                  Scripts
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                  {% for script in sketch.script_uploads  %}
                                                      <li><a class="dropdown-item col-12 d-flex p-0 mt-2 mb-2" href="{{ script.file.url }}">
                                                              <button class="btn btn-outline-dark col-12">
                                                                  <div>({{script.file.name}})</div>
                                                              </button>
                                                          </a></li>
                                                  {% endfor %}
                                                </ul>
                                              </div>
                                            {% else %}
                                                <button class="btn btn-secondary" disabled tabindex="-1" role="button" aria-disabled="true">No Scripts</button>
                                            {% endif %}
                                          </div>    
                                          <div class="me-3">
                                            {% if sketch.footage_uploads %}
                                              <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                  Footage Clips
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                  {% for footage in sketch.footage_uploads  %}
                                                    <li><a class="dropdown-item col-12 d-flex p-0 mb-2" href="{{ footage.file.url }}">
                                                              <button class="btn btn-outline-dark col-12" style="white-space: normal;">
                                                                  <div>({{ footage.file.name}})</div>
                                                                  <div>({{ footage.file.size|filesizeformat }})</div>
                                                              </button>
                                                        </a></li>
                                                  {% endfor %}
                                                </ul>
                                              </div>
                                            {% else %}
                                                <button class="btn btn-secondary" disabled tabindex="-1" role="button" aria-disabled="true">No Footage</button>
                                            {% endif %}
                                          </div>
                                          <div class="me-3">
                                            {% if sketch.final_uploads %}
                                              <div class="dropdown">
                                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                  Final Videos
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                                  {% for final in sketch.final_uploads %}
                                                      <li><a class="dropdown-item col-12 d-flex p-0 mb-2" href="{{ final.file.url }}">
                                                              <button class="btn btn-outline-dark col-12" style="white-space: normal;">
                                                                  <div>({{final.file.name}})</div>
                                                                  <div>({{ final.file.size|filesizeformat }})</div>
                                                              </button>
                                                          </a></li>
                                                  {% endfor %}
                                                </ul>
                                              </div>
                                              {% else %}
                                                  <button class="btn btn-secondary" disabled tabindex="-1" role="button" aria-disabled="true">
                                                      No Finished Sketches
                                                  </button>
                                              {% endif %}
                                          </div>
                                      </div>
                                  </div>

                                    <div class="row">
                                        <div class="col-3">
                                          <a class="w-100 btn btn-primary" href="{% url 'edit_sketch' sketch.id %}">Edit Sketch</a>
                                        </div>
                                        <div class="col-3">
                                          <a class="w-100 btn btn-danger" onclick="return confirm('Are you sure you ant to delete this?')" href="{% url 'delete_sketch' sketch.id %}">Delete Sketch</a>
                                        </div>
                                    </div>
                                    <!-- <div>
                                        <b>Footage:</b>
                                        {% for footage in sketch.footage_uploads %}
                                            <div>{{footage.file}}</div>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        <b>Scripts:</b>
                                        {% for script in sketch.script_uploads %}
                                            <div>{{script.file}}</div>
                                        {% endfor %}
                                    </div>

                                    <div>
                                        <b>Finals:</b>
                                        {% for final in sketch.final_uploads %}
                                            <div>{{final.file}}</div>
                                        {% endfor %}
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                   {% endfor %}
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
